<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/home.css"/>
    <!--<script src="/home.js"></script>-->

    <!--<link rel="stylesheet" href="/layui/css/layui.css" media="all">-->
    <!--<script src="/layui/layui.js"></script>-->
    <!--<script src="/socket/socket.io.js"></script>-->
    <!--<script src="/robot.js"></script>-->

    <link rel="stylesheet" href="/chat/layui/css/layui.css" media="all">
    <script src="/chat/layui/layui.js"></script>
    <script src="/chat/socket/socket.io.js"></script>
    <script src="/chat/chat.js"></script>


<!--阿里巴巴客服-->
    <!--<script type="text/javascript" charset="utf-8"-->
            <!--src="https://gw.alipayobjects.com/os/rmsportal/xsxusXNIcXwiGqtNiyOd.js"-->
            <!--chat_url="https://cschat.antcloud.com.cn/index.htm"-->
            <!--logo_src="https://i.alipayobjects.com/e/201401/1tdi7nR70h.png"-->
            <!--logo_position="rt"-->
            <!--tntInstId="TFFUEFCN&scene=SCE00000826">-->
    <!--</script>-->

    <!--<link rel="stylesheet" href="/svnFile/chat/layui/css/layui.css" media="all">-->
    <!--<script src="/svnFile/chat/layui/layui.js"></script>-->
    <!--<script src="/svnFile/chat/socket/socket.io.js"></script>-->
    <!--<script src="/svnFile/chat/chat.js"></script>-->

    <!--<link rel="stylesheet" href="http://222.222.216.162:10247/chat/layui/css/layui.css" media="all">-->
    <!--<script src="http://222.222.216.162:10247/chat/layui/layui.js"></script>-->
    <!--<script src="http://222.222.216.162:10247/chat/socket/socket.io.js"></script>-->
    <!--<script src="http://222.222.216.162:10247/chat/chat.js"></script>-->
</head>
<body>
<div class="test">home,html,new,test</div>
<a href="#a1">去定位</a>
<img border="0" src="chat1/picture/anniu.jpg" width="543" height="98">
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div><br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div><br/><div>1</div>
<a name="a1">这里</a>
<br/><div>定位到这里</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
<br/><div>1</div>
</body>
</html>