<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/home.css"/>
    <!--<script src="/home.js"></script>-->

    <!--<link rel="stylesheet" href="/layui/css/layui.css" media="all">-->
    <!--<script src="/layui/layui.js"></script>-->
    <!--<script src="/socket/socket.io.js"></script>-->
    <!--<script src="/robot.js"></script>-->

    <!--<link rel="stylesheet" href="/chat/layui/css/layui.css" media="all">-->
    <!--<script src="/chat/layui/layui.js"></script>-->
    <!--<script src="/chat/socket/socket.io.js"></script>-->
    <!--<script src="/chat/chat.js"></script>-->
    <link rel="stylesheet" href="/chat1/layui/css/layui.css" media="all">
    <script src="/chat1/layui/layui.js"></script>
    <script src="/chat1/socket/socket.io.js"></script>
    <script src="/chat1/chat.js"></script>
    <!--z-index: 19891015;-->
    <!--width: 350px;-->
    <!--top: 160px;-->
    <!--left: 1001px;-->
    <!--min-width: 350px;-->
    <!--min-height: 420px;-->
    <!--background-image: none;-->
    <!--display: block;-->

    <!--z-index: 19891015;-->
    <!--width: 600px;-->
    <!--top: 89px;-->
    <!--left: 382px;-->
    <!--min-width: 500px;-->
    <!--min-height: 420px;-->
    <!--background-image: none;-->
    <!--display: block;-->
    <!--}-->
    <!--<link rel="stylesheet" href="http://222.222.216.162:10247/chat/layui/css/layui.css" media="all">-->
    <!--<script src="http://222.222.216.162:10247/chat/layui/layui.js"></script>-->
    <!--<script src="http://222.222.216.162:10247/chat/socket/socket.io.js"></script>-->
    <!--<script src="http://222.222.216.162:10247/chat/chat.js"></script>-->
</head>
<body>
<div class="test">home,html,new,test</div>
</body>
</html>