<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/home.css"/>
    <!--<script src="/home.js"></script>-->

    <!--<link rel="stylesheet" href="/layui/css/layui.css" media="all">-->
    <!--<script src="/layui/layui.js"></script>-->
    <!--<script src="/socket/socket.io.js"></script>-->
    <!--<script src="/robot.js"></script>-->

    <link rel="stylesheet" href="/chat2/layui/css/layui.css" media="all">
    <script src="/chat2/layui/layui.js"></script>
    <script src="/chat2/socket/socket.io.js"></script>
    <script src="/chat2/chat.js"></script>

    <!--<link rel="stylesheet" href="http://222.222.216.162:10247/chat/layui/css/layui.css" media="all">-->
    <!--<script src="http://222.222.216.162:10247/chat/layui/layui.js"></script>-->
    <!--<script src="http://222.222.216.162:10247/chat/socket/socket.io.js"></script>-->
    <!--<script src="http://222.222.216.162:10247/chat/chat.js"></script>-->
</head>
<body>
<div class="test">home,html,new,test</div>
</body>
</html>